/* 共通のデザイン */
.screen-height {
    height: 100vh;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
}

a {
    text-decoration: none;
}

#profile, #skill, #works, #contact {
    padding: 70px 30px 40px 30px;
}

/* headerのデザイン */
header {
    background-image: url(../img/Lisbon.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* ハンバーガーメニュー */
.hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: 1.5s;
}

.hamburger span:nth-child(2) {
    margin-top: 7px;
}

.hamburger span:nth-child(3) {
    margin-top: 7px;
}

/* ハンバーガーメニューをクリックした時 */
.hamburger-top {
    transition: 1.5s;
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-middle {
    opacity: 0;
}

.hamburger-bottom {
    transition: 1.5s;
    transform: rotate(-45deg) translate(7px, -8px);    
}

#nav {
    display: none;
    position: fixed;
    top: 60px;
    padding: 20px;
    background-color: #fff;
    opacity: 0.8;
    border: 3px solid #000;
    border-left: none;
}

#nav ul li {
    margin-bottom: 15px;
    font-size: 20px;
}

#nav ul li:last-child {
    margin-bottom: 0;
}

/* Profileのデザイン */
#profile {
    text-align: center;
}

#myFoto {
    border-radius: 50%;
    height: 50%;
}

/* Skillのデザイン */
#skill {
    background-color: transparent;
}

.logos li {
    margin: 0 50px 50px 50px;
}

.logos li:last-child {
    margin-right: 0;
}

.logos img {
    height: 200px;
    width: 200px;
}

/* Worksのデザイン */
.production li { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production img {
    height: 350px;
}

/* swiperのデザイン */
.swiper-container {
    width: 70%;
}

.swiper-pagination {
    bottom: -20px !important;
}

/* Contactのデザイン */
#contact {

}

/* footerのデザイン */
footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 30px;
}

footer li:last-child {
    margin-right: 0;
}

/* ページトップに移動するアイコンのデザイン */
#airplane {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 3%;
    color: blue;
    opacity: 0.5;
    transform: rotate(-135deg);
    transition: 0.5s;
    cursor: pointer;
}

#airplane:hover {
    opacity: 1;
}

.fly {
    animation: fly 2s ease-in;
}

@keyframes fly {
    100% {
        right: 100%;
        bottom: 100%;
        height: 200%;
    }
}